@font-face {
    font-family: 'Montserrat Ultra Light';
    src: local('Montserrat Ultra Light'), local('Montserrat-Ultra-Light'), url('../fonts/montserrat/montserrat-ultralight.woff') format('woff'), url('../fonts/montserrat/montserrat-ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat/montserrat.woff2') format('woff2'), url('../fonts/montserrat/montserrat.woff') format('woff'), url('../fonts/montserrat/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/raleway/ralewayregular.woff2') format('woff2'), url('../fonts/raleway/ralewayregular.woff') format('woff'), url('../fonts/raleway/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Medium';
    src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/raleway/ralewaymedium.woff2') format('woff2'), url('../fonts/raleway/ralewaymedium.woff') format('woff'), url('../fonts/raleway/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway SemiBold';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/raleway/ralewaysemibold.woff2') format('woff2'), url('../fonts/raleway/ralewaysemibold.woff') format('woff'), url('../fonts/raleway/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway/ralewaybold.woff2') format('woff2'), url('../fonts/raleway/ralewaybold.woff') format('woff'), url('../fonts/raleway/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway ExtraBold';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/raleway/ralewayextrabold.woff2') format('woff2'), url('../fonts/raleway/ralewayextrabold.woff') format('woff'), url('../fonts/raleway/ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto.woff2') format('woff2'), url('../fonts/roboto/Roboto.woff') format('woff'), url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Montserrat Light", "Verdana", sans-serif;
}

button {
    background: #998675;
    border: 0;
    border-bottom: 3px outset #907e70;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: bold;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.main-header {
    min-height: 1025px;
    background: url("../../img/header-bg.jpg") #282828 center no-repeat;
}

a.header-logo {
    display: block;
    padding-top: 40px;
    font-family: "Raleway Regular", "Verdana", sans-serif;
    text-decoration: none;
    font-size: 34px;
    color: #ffffff;
    float: left;
}

a.header-logo svg {
    float: left;
}

a.header-logo span {
    margin-left:-20px;
    line-height: 60px;
}

.main-menu {
    font-size: 14px;
    float: right;
    margin-top: 45px;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 30px;
}

.main-menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: #c7b299;
}

.main-menu ul li svg {
    position: absolute;
    top: 55px;
    margin-left: 30px;
}

.main-menu ul li svg:hover {
    fill: #c7b299;
    cursor: pointer;
}

.main-slider {
    padding-top: 380px;
    color: #ffffff;
    text-align: center;
}

.main-slider-text-title-1 {
    font-family: "Raleway Medium", Verdana, sans-serif;
    font-size: 36px;
    display: block;
}

.main-slider-text-title-2 {
    font-family: "Raleway Medium", Verdana, sans-serif;
    font-size: 52px;
    display: block;
}


.main-slider-text {
    max-width:  570px;
    margin: 0 auto;
}



.main-slider-nav-bottom ul li {
    display: inline-block;
}